{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "widget/breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "widget/post_meta.html" . -}}
      {{- partial "widget/translation_list.html" . -}}
      {{- partial "widget/edit_post.html" . -}}

      {{ if and (.Params.canonicalURL) (.Params.showCanonicalLink ) -}}
      {{ $url := urls.Parse .Params.canonicalURL }}
      <span class="post-canonical-link">
        Originally published at <a href="{{ trim .Params.canonicalURL " " }}" target="_blank" rel="noopener noreferrer">{{ $url.Host }}</a>
      </span>
      {{- end }}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "widget/cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "widget/toc.html" . }}
  {{- end }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "widget/anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "widget/post_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "widget/share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "widget/comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
